// ---------- VARIABLE GRID -------------

.variable-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: none;
  }
}

.variable-related-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
  grid-auto-rows: minmax(0px, auto);
  grid-auto-flow: dense;

  padding: 2%
}

.variable-new-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(0px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: none;
    padding: 5% !important;
    grid-row-gap: 30px;
  };
}

.candidates-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(0px, auto);
  grid-auto-flow: dense;

  padding: 2%
}

.presidential-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(0px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: 1;
    padding: 15% !important;
    grid-gap: 30px;
  };
}


.span-2-cols {
  grid-column: span 2;
  grid-row: span 1;
}

.span-2-rows {
  grid-row: span 2;
}

.span-3-rows {
  grid-row: span 3;
}


.span-5-rows {
  grid-row: span 5;
}

.span-6-cols {
  grid-column: span 6;
}

.span-4-cols {
  grid-column: span 4;
}

.span-3-cols {
  grid-column: span 3;
}

.span-all {
  grid-column: 1/-1;
  max-width: 400px;
  justify-self: center;
}


.mincontent {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.flex-grow {
  flex: 1 0 auto;
}

// -------------- MAIN GRID ----------------

.main-grid {
  display: grid;
  grid-gap: 10px;

  grid-template-areas:
  "main-1"
  "main-2"
  "main-3";

  .main-1 {
    grid-area: main-1;
  }
  .main-2 {
    grid-area: main-2;
  }
  .main-3 {
    grid-area: main-3;
  }
  .main-4 {
    grid-area: main-4;
  }
  .main-5 {
    grid-area: main-5;
  }

  // Bootstrap Medium
  @media (min-width: 768px) {
    grid-template-areas:
            "main-1 main-2"
            "main-1 main-3";
  }

  // Bootstrap Large
  @media (min-width: 1200px) {
      grid-template-areas:
              "main-1 main-2 main-4"
              "main-1 main-3 main-5";
  }

}


// -------------- SQUARE GRID ---------
.square-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;
}

// ------------ HISTORY GRID ----------
.subsection-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-flow: dense;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
