// ---------- VARIABLE GRID -------------

.variable-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: none;
  }
}

.variable-related-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
  grid-auto-rows: minmax(0px, auto);
  grid-auto-flow: dense;

  padding: 2%
}

.variable-new-grid {
  display: grid;
  grid-gap: 10px;
  // grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-columns: repeat(auto-fill, 6.3%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(0px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: none;
    padding: 5% !important;
    grid-row-gap: 30px;
  };

  @media (min-width: 1000px) {
    grid-template-columns: repeat(auto-fill, 7%);
  };
}

.candidates-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 45%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(0px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: none;
    padding: 0 !important;
    grid-gap: 0;
  };
}

.presidential-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 9%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(0px, auto);
  grid-auto-flow: dense;

  padding: 2%;
  padding-bottom: 5%;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, 12%);
    padding: 0 !important;
    grid-column-gap: 3%;
  };
}


.span-2-cols {
  grid-column: span 2;
  grid-row: span 1;
}

.span-2-rows {
  grid-row: span 2;
}

.span-3-rows {
  grid-row: span 3;
}


.span-5-rows {
  grid-row: span 5;
}

.span-6-cols {
  grid-column: span 6;
}

.span-4-cols {
  grid-column: span 4;
}

.span-3-cols {
  grid-column: span 3;
}

.span-all {
  grid-column: 1/-1;
  max-width: 400px;
  justify-self: center;
}


.mincontent {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.flex-grow {
  flex: 1 0 auto;
}

// -------------- MAIN GRID ----------------

.main-grid {
  display: grid;
  grid-gap: 10px;

  grid-template-areas:
  "main-1"
  "main-2"
  "main-3";

  .main-1 {
    grid-area: main-1;
  }
  .main-2 {
    grid-area: main-2;
  }
  .main-3 {
    grid-area: main-3;
  }
  .main-4 {
    grid-area: main-4;
  }
  .main-5 {
    grid-area: main-5;
  }

  // Bootstrap Medium
  @media (min-width: 768px) {
    grid-template-areas:
            "main-1 main-2"
            "main-1 main-3";
  }

  // Bootstrap Large
  @media (min-width: 1200px) {
      grid-template-areas:
              "main-1 main-2 main-4"
              "main-1 main-3 main-5";
  }

}


// -------------- SQUARE GRID ---------
.square-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;
}

// ------------ HISTORY GRID ----------
.subsection-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-flow: dense;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

// ----------- RELATIONSHIPS GRID --------
.relationships-grid {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, 45%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 4%;

  @media (max-width: 768px) {
    grid-template-columns: none;
  }
}

// --------- CONTROVERSIES GRID DETAILED --------
.controversies-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 6%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: none;
  }
}


// --------- EXPERIENCES GRID DETAILED --------
.experiences-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 33%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, 45%);
  }
}


// --------- PROMISES GRID DETAILED --------
.promises-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 10%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, 9%);
  }
}

// --------- ACHIEVEMENTS GRID DETAILED --------
.achievements-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 10%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 2%;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, 9%);
  }
}

// --------- STATISTICS GRID DETAILED --------
.statistics-grid {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, 45%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 2%;
  padding-bottom: 8%;
}


// --------- ORGANIZATIONS GRID DETAILED --------
.organizations-grid {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 45%);
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;

  padding: 2%;
}
