// This file has custom transforms used commonly

// Icon Enlarging
.fal.enlarge:hover {
  transform: scale(1.3);
}

.small-enlarge:hover {
  transform: scale(1.03);
}

.list-right:hover {
  transform: translate(5%);
}

.list-up:hover {
  transform: translateY(-10%);
}

.shadow:hover {
  box-shadow: -5px 17px 30px -30px rgba(0,0,0,0.33);
}

.send {
  transform: translateX(80%) translateY(-60%) rotate(-45deg);
  transition-duration: 200ms;
}

.spin-clock {
  transform: rotate(25deg);
  transition-duration: 100ms;
}

.spin-clock:hover {
  transform: rotate(0deg) translateY(5px)  translateX(-5px);
}

.inv-spin {
  transform: rotate(0deg);
  transition-duration: 100ms;
}

.inv-spin:hover {
  transform: rotate(25deg) translateY(-5px);
}
