// This file has custom transforms used commonly

// Icon Enlarging
.fal.enlarge:hover {
  transform: scale(1.3);
}

.small-enlarge:hover {
  transform: scale(1.03);
}

.list-right:hover {
  transform: translate(5%);
}

.list-up:hover {
  transform: translateY(-10%);
}

.shadow:hover {
  box-shadow: -5px 17px 30px -30px rgba(0,0,0,0.33);
}

