$pointer-width: 20px;
$pointer-height: 10px;

.map {
  &__image {
    max-height: 350px;
    object-fit: cover;
  }

  &__marker {
    &__wrapper {
      position: relative;
      background-color: white;
      padding: 20px;
      z-index: 1;
    }

    &__pointer {
      position: absolute;
      left: -20px;
      bottom: -20px;
      transform: rotate(45deg);
      z-index: -1;
      width: $pointer-width;
      height: $pointer-height;
      border-top: solid $pointer-height white;
      border-left: solid $pointer-height transparent;
      border-right: solid $pointer-height transparent;
    }
  }

  &__tooltip {
    &__wrapper {
      background-color: white;
      padding: 10px 10px 0 10px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__info-panel {
    &__wrapper {
      position: relative;
      z-index: 1001;
      opacity: 0.8;
      background-color: white;
      //height: 100%;
      padding: 20px;
      pointer-events: none;

      @media (max-width: 796px) {
        width: 40%;
      }
      width: 200px;
    }
  }

  &__control-panel {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      input,
      select {
        display: inline;
        border-radius: 0;
        border: none;
        width: 100%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      }
    }

    &__select {
      &__wrapper {
        width: 49%;
      }
    }
  }

  &__scale {
    &__wrapper {
      position: absolute;
      right: 10px;
      top: 10px;
      background: white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

      span.many,
      span.few {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        font-size: 0.75em;
      }

      span.many {
        top: 0;
        color: white;
      }

      span.few {
        bottom: 0;
      }
    }

    &__strip {
      width: 40px;
      height: 200px;
      margin-left: auto;
    }
  }

  &__tab-panel {
    &__wrapper {
      justify-content: space-between;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        display: flex;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__item {
      color: rgba(black, 0.5);
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      width: 49%;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 10px;
      }

      &:hover {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      }

      &.active {
        color: black;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.mapboxgl-canvas {
  position: relative !important;
}
