// FONTS ADDED VIA BBC GEL FRAMEWORK

// ---------------------- CUSTOM -----------------------

.bg-layout {
    background-color: $baseLightest;
}


.bg-shady-layout {
    background-color: $baseLighter;
}
// TODO Improve buttons
//button > .bg-shady-layout:hover {
//    background-color: $baseLightest !important;
//}


.bg-middle-layout {
    background-color: $baseMiddle;
}

bg-above-background {
    background-color: $aboveLayout;
}
