// FONTS ADDED VIA BBC GEL FRAMEWORK

// ---------------------- CUSTOM -----------------------

.bg-layout {
    background-color: $baseLightest;
}


.bg-shady-layout {
    background-color: $baseLighter;
}
// TODO Improve buttons
//button > .bg-shady-layout:hover {
//    background-color: $baseLightest !important;
//}


.bg-middle-layout {
    background-color: $baseMiddle;
}

.bg-above-background {
    background-color: $aboveBackground;
}

.small-img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 30px;
}


// --------- 404 ----------
.not-found {
    text-align: center;
    height: 100vh;
    overflow: auto;
    display: flex;
    background-size: cover;

    button {
        margin: 0;
    }
}

.not-found__content {
    margin: auto;
    padding: 10px;
}

.not-found .not-found__info {
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 90px;
}

.not-found__image {
    max-width: 500px;
    width: 100%;
}
