// FONTS ADDED VIA BBC GEL FRAMEWORK

// ---------------------- CUSTOM -----------------------

.bg-layout {
  //background: #f7f7f7;
    background-color: $baseLightest;
}

.bg-shady-layout {
    background-color: $baseLighter;
}

.bg-middle-layout {
    background-color: $baseMiddle;
}
