$btn-size: 45px;

.back-to-top {
  &__wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: $btn-size;
    height: $btn-size;
    border-radius: 50%;
    background-color: $baseDarker;
    color: white;
    text-align: center;
    z-index: 9999;
    transform: translateX(100px);
    transition: cubic-bezier(.49, -0.38, .33, 1.39) all 0.5s;
    &:hover {
      cursor: pointer;
    }
    &:hover i {
      transform: translateY(-5px);
    }
  }
  &__wrapper.visible {
    transform: translateX(0);
  }
  &__btn {
    display: block;
    width: 100%;
    margin: auto;
    line-height: $btn-size;
    transition: all 0.3s;
  }
}
