$border: 1px solid rgba($impDark, 0.2);

body {
  padding-top: 44px;
}

.navbar {
  height: 44px;
  border-bottom: $border;
  background-color: white;

  &__wrapper {
    display: block;
    flex-direction: row;
    //align-items: center;
    justify-content: space-between;

    z-index: 2000;
    @include gel-typography('canon-bold');
    width: 100%;
  }

  &__brand {
    line-height: 44px !important;
    z-index: 2020;
    padding-top: 0;
    margin-top: 0;
    height: 44px;

    img {
      padding: 0;
      height: 38px;
    }
  }

  &__search__wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 60%;
    justify-self: start;
    margin-right: auto;
  }

  &__search__form {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 32px;
    margin-right: auto;
  }

  &__search__input {
    border-radius: 2px;
    width: 100%;
    height: 32px;
  }

  &__search__icon {
    position: relative;
    background-color: darken(white, 10%);
    height: 32px;
    width: 58px;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: darken(white, 15%);
    }
    i {
      top: 9px;
      right: 0;
      left: 0;
      position: absolute;
      font-size: 0.32em;
      color: lighten(black, 30%);
    }
  }

  &__top__wrapper {
    background-color: white;
    border-bottom: $border;
  }

  &__nav__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__nav__item {
    padding: 11px 20px;
    border-left: $border;
    line-height: 0.32em;
    border-bottom: 3px solid transparent;
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $impDark;
    }
  }

  &__nav__item.end {
    border-right: $border;
  }

  &__nav__item.one.active {

  }

  &__nav__link {
    display: block;
    text-transform: uppercase;
    color: black;
    font-size: 0.32em;
    font-weight: normal;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
      color: lighten(black, 20%);
    }
  }

  &__subnav__wrapper {
    height: 66px;
  }

  &__subnav__wrapper.one {
    background-color: #044389;
  }

  &__subnav__wrapper.two {
    background-color: #07415E;
  }

  &__subnav__wrapper.three {
    background-color: #f2545b;
  }

  &__subnav__head {
    color: white;
    text-transform: uppercase;

    h3 {
      margin-left: 5px;
      line-height: 66px;
      display: block;
    }
  }
}

.navbar-toggler {
  border: none;
}

.nav-link {
  font-size: 0.3em;
}
