// This file has custom transforms used commonly

// Icon Enlarging
.fal.enlarge:hover {
  transform: scale(1.3);
}

.small-enlarge:hover {
  transform: scale(1.03);
}

.list-searching:hover {
  transform: translate(5%);
}

.list-up:hover {
  transform: translateY(-10%);
}
